<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1" />
<meta name="author" content="John Gagliardi" />
<meta name="description" content="Get in the spotlight" />
<meta name="keywords" content="John & Melany | ©2012 johngag.com" />
<title>John & Melany | Contact</title>
<link rel="stylesheet" type="text/css" media="all" href="{{ CSS_CDN }}style-0.1.css" />
<link rel="stylesheet" href="{{ CSS_CDN }}prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<link href='http://fonts.googleapis.com/css?family=Ovo' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
<!-- jQuery -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<!-- Twitter Feed -->
<script src="{{ JS_CDN }}jquery.tweet.js" charset="utf-8"></script>
<!-- Flickr Feed -->
<script src="{{ JS_CDN }}jflickrfeed.min.js"></script>
<!-- FlexSlider -->
<script type="text/javascript" src="{{ JS_CDN }}jquery.flexslider-min.js"></script>
<!-- PrettyPhoto -->
<script src="{{ JS_CDN }}jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{{ JS_CDN }}custom.quicksand.js"></script>
<!-- DropDownMenu -->
<script type="text/javascript" src="{{ JS_CDN }}menu.js"></script>
<script type="text/javascript" charset="utf-8">
var $ = jQuery.noConflict();
  $(window).load(function() {
    $('.flexslider').flexslider({
          animation: "fade"
    });
	
	$(function() {
		$('.show_menu').click(function(){
				$('.menu').fadeIn();
				$('.show_menu').fadeOut();
				$('.hide_menu').fadeIn();
		});
		$('.hide_menu').click(function(){
				$('.menu').fadeOut();
				$('.show_menu').fadeIn();
				$('.hide_menu').fadeOut();
		});
	});
	

  });
  
  jQuery(function($){
	$(".tweet").tweet({
	  join_text: "auto",
	  username: "famousthemes",
	  count: 1,
	  auto_join_text_default: "we said,",
	  auto_join_text_ed: "we",
	  auto_join_text_ing: "we were",
	  auto_join_text_reply: "we replied",
	  auto_join_text_url: "we were checking out",
	  loading_text: "loading tweets..."
	});
	$('#basicuse').jflickrfeed({
		limit: 6,
		qstrings: {
			id: '31408169@N04'
		},
		itemTemplate: '<li><a href="{{image_b}}"><img src="{{image_s}}" alt="{{title}}" /></a></li>'
	});
  });
</script>
</head>
<body>
<div id="shadow_bg">
<div id="main_container">

	<a class="show_menu" href="#">menu</a>
    <a class="hide_menu" href="#">close menu</a>
	
    <div class="menu">                                                                   
        <ul id="main_menu">
            <li><a href="/">Home</a></li>
            <li><a href="/wedding/">Our wedding</a></li>
            <li><a class="selected" href="/contact/">Contact</a></li> 
        </ul>
     </div>
	

<div id="center_container">

  <div id="header">
     
     <div class="title"><a href="/">John &amp; Melany</a></div>
     <div class="description"><span class="swirl_left"><span class="swirl_right">20 october 2012</span></span></div>
     
  </div><!-- End of Header-->
     

  <div class="pages_title">
  <h2>Get in Touch<span>With Us</span></h2>
  </div> 
   
   <div class="content">
        <div class="left23">
            <h2>Mail Us</h2>
            <p>
			P.O. Box 34371 <br />
			Reno, NV<br />
			<a href="tel:7752248090">(775) 224-9080</a><br />
			</p>
			<br />
			<p>
			<h2>Email Us</h2>
            <p>
			Jmmj7280@gmail.com<br />
			</p>

            <div class="contact_info_blocks">
            <div class="contact_info">
            <h3>Phone Reservation</h3>
            <div class="icon"><a href="tel:7752248090"><img src="{{ IMAGES_CDN }}icon_phone.png" alt="" title="" border="0"/></a></div><p>Feel free to call <a href="tel:7752248090">775-224-8090</a> for any questions, comments, concerns or just to say hi :)</p>
            </div>

            </div>
            
        </div>
		
   		<div class="left13 sidebar">
        
			<h2>Wedding Location</h2>
<div class="gmap"><iframe width="100%" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=Miners+Foundry%2C+Nevada+City%2C+CA+95959&output=embed"></iframe></div>

        </div>
		
        <div class="clear"></div>
       
   </div>
   
   <div class="clear"></div> 
   
</div>

</div>
</div>

   
   <div class="footer">
       <div class="footer_content">
       <div class="footer_text">
       John & Melany | ©2012 johngag.com
       </div>
       <div class="footer_menu">
           <ul>
               <li><a href="/">Home</a></li>
               <li><a href="/wedding/">Our wedding</a></li>
               <li><a class="selected" href="/contact/">Contact</a></li>
               <li><a onclick="jQuery('html, body').animate( { scrollTop: 0 }, 'slow' );"  href="javascript:void(0);" class="gotop" title="Go on top">TOP</a> </li>
           </ul>
       </div>
       <div class="clear"></div>
       </div>
       
   </div>

<script type="text/javascript">
var main_menu=new main_menu.dd("main_menu");
main_menu.init("main_menu","menuhover");
</script>
</body>
</html>
