<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1" />
<meta name="author" content="John Gagliardi" />
<meta name="description" content="Get in the spotlight" />
<meta name="keywords" content="John & Melany | ©2012 johngag.com" />
<title>John & Melany</title>
<link rel="stylesheet" type="text/css" media="all" href="{{ CSS_CDN }}style-0.1.css" />
<link rel="stylesheet" href="{{ CSS_CDN }}prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<link href='http://fonts.googleapis.com/css?family=Ovo' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css' />
<!-- jQuery -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<!-- Twitter Feed -->
<script type="text/javascript" src="{{ JS_CDN }}jquery.tweet.js" charset="utf-8"></script>
<!-- FlexSlider -->
<script type="text/javascript" src="{{ JS_CDN }}jquery.flexslider-min.js"></script>
<!-- PrettyPhoto -->
<script src="{{ JS_CDN }}jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{{ JS_CDN }}custom.quicksand.js"></script>
<!-- DropDownMenu -->
<script type="text/javascript" src="{{ JS_CDN }}menu.js"></script>
<script type="text/javascript" charset="utf-8">
var $ = jQuery.noConflict();
  $(window).load(function() {
    $('.flexslider').flexslider({
          animation: "fade"
    });
	
	$(function() {
		$('.show_menu').click(function(){
				$('.menu').fadeIn();
				$('.show_menu').fadeOut();
				$('.hide_menu').fadeIn();
		});
		$('.hide_menu').click(function(){
				$('.menu').fadeOut();
				$('.show_menu').fadeIn();
				$('.hide_menu').fadeOut();
		});
	});
	

  });
  
  jQuery(function($){
	$(".tweet").tweet({
	  join_text: "auto",
	  username: "famousthemes",
	  count: 1,
	  auto_join_text_default: "we said,",
	  auto_join_text_ed: "we",
	  auto_join_text_ing: "we were",
	  auto_join_text_reply: "we replied",
	  auto_join_text_url: "we were checking out",
	  loading_text: "loading tweets..."
	});
  });
</script>
</head>
<body>
<div id="shadow_bg">
<div id="main_container">

	<a class="show_menu" href="#">menu</a>
    <a class="hide_menu" href="#">close menu</a>
	
    <div class="menu">                                                                   
        <ul id="main_menu">
        	<li><a class="selected" href="/">Home</a></li>
            <li><a href="/wedding/">Our wedding</a></li>
            <li><a href="/contact/">Contact</a></li> 
        </ul>
     </div>
	

<div id="center_container">

  <div id="header">
     
     <div class="title"><a href="index.html">John &amp; Melany</a></div>
     <div class="description"><span class="swirl_left"><span class="swirl_right">20 october 2012</span></span></div>
     
  </div><!-- End of Header-->
  
   <div class="slider_container">
		<div class="flexslider">
	    <ul class="slides">
	    	<li>
	    		<a href="#"><img src="{{ IMAGES_CDN }}slide1.png" alt="" title=""/></a>
	    	</li>
	    	<li>
	    		<a href="#"><img src="{{ IMAGES_CDN }}slide2.png" alt="" title=""/></a>
	    	</li>
	    </ul>
	  </div>
   </div>
   
   
   <div class="home_title">
       <h2>Welcome to Our <span>Wedding Website</span></h2>
       <div class="clear"></div>
   </div>
   
   
   <div class="content">

   		<div class="left12 about">
            <div class="about_pic">
             <img src="{{ IMAGES_CDN }}about_f.jpg" alt="" title="" />
            </div>
            <div class="about_right">
            <h2>About Melany</h2>
            <p>Melany grew up in a small farm town called Marsing in rural Idaho. Melany is the second of three children. Melany was the first Schultz girl in a long line of boys. Melany has an older brother Jason and a younger sister Katie who both live in Caldwell, Idaho. Melany has eleven first cousins and grew up calling all adults Uncle or Aunt – everyone was family to Melany. Melany moved to Reno in 2004 and has made it her home. Family is very important to Melany and she especially treasures spending time with her grandparents, Shirley Floyd, Ed Schultz and Sadie Schultz. Growing up Melany spent a lot of time with her grandmothers. There is a close bond with them that goes beyond being family.</p>
			<a href="#" class="more_about">read more</a>
            </div>
        </div>
   		<div class="left12 about">
            <div class="about_pic">
             <img src="{{ IMAGES_CDN }}about_m.jpg" alt="" title="" />
            </div>
            <div class="about_right">
            <h2>About John</h2>
            <p>Melany grew up in a small farm town called Marsing in rural Idaho. Melany is the second of three children. Melany was the first Schultz girl in a long line of boys. Melany has an older brother Jason and a younger sister Katie who both live in Caldwell, Idaho. Melany has eleven first cousins and grew up calling all adults Uncle or Aunt – everyone was family to Melany. Melany moved to Reno in 2004 and has made it her home. Family is very important to Melany and she especially treasures spending time with her grandparents, Shirley Floyd, Ed Schultz and Sadie Schultz. Growing up Melany spent a lot of time with her grandmothers. There is a close bond with them that goes beyond being family.</p>
            <a href="#" class="more_about">read more</a>
            </div>
        </div>
         
   		<div class="left13 section_home">
        <h2>Wedding <span>Location</span></h2>
        <a href="#"><img src="{{ IMAGES_CDN }}wedding-location.png" alt="" title="" /></a>
        <p>The Miners Foundry Cultural Center is a living historic treasure serving Nevada County as a cultural arts and community events center. It is a symbol of California’s rich historical heritage, providing an educational and social bridge from our past to the present and future.</p>
        <a href="http://minersfoundry.org/" class="section_more"><span class="swirl_left"><span class="swirl_right">read more</span></span></a>
        </div>
        
   		<div class="left13 section_home">
        <h2>Honeymoon <span>Destination</span></h2>
        <a href="#"><img src="{{ IMAGES_CDN }}honeymoon.png" alt="" title="" /></a>
        <p>Stand above a sea of clouds high atop Haleakala. Watch a 45-foot whale breach off the coast of Lahaina.  Lose count of the waterfalls along the road as you maneuver the hairpin turns of the Hana highway. One visit and it’s easy to see why Maui is called “The Magic Isle.”</p>
        <a href="http://www.co.maui.hi.us/" class="section_more"><span class="swirl_left"><span class="swirl_right">read more</span></span></a>
        </div>
        
   		<div class="left13 section_home">
        <h2>Girt <span>Registry</span></h2>
        <a href="#"><img src="{{ IMAGES_CDN }}macys.png" alt="" title="" /></a>
        <p>We are registered at Macy's.</p>
        <a href="http://www1.macys.com/registry/wedding/guest/?registryId=24355" class="section_more"><span class="swirl_left"><span class="swirl_right">read more</span></span></a>
        </div>
        
                
       <div class="name_divider">JM</div>         
                
   		<div class="left13 fdivider">
        <h2>Latest <span>Tweets</span></h2>       
        
        <div class="tweet"></div>
        <img src="{{ IMAGES_CDN }}icon_tweets.gif" alt="" title="" class="tweet_icon" />
        </div>
        
   		<div class="left13 fdivider">
        <h2>From the <span>Blog</span></h2>
        <div class="widget_post">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <a href="#"><strong>sed do eiusmod</strong></a> </p>
        </div>
        <div class="widget_post">
        <p>Dolor sit  elit, <a href="#"><strong>do eiusmod</strong></a> consectetur </p>
        </div>
        <div class="widget_post">
        <p>Consectetur adipisicing elit, <a href="#"><strong> eiusmod</strong></a> sed do adipisicing</p>
        </div>
        </div>
        
   		<div class="left13">
        <h2>Say <span>Hello!</span></h2>
        <p><strong>Email:</strong> wedding@email.com <br />
<strong>Phone:</strong> 234 324 234 / 0678 <br /><br />
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. Consectetur adipisicing elit, <a href="#"><strong> eiusmod</strong></a> sed do adipisicing </p>
        </div>
       
   </div>
   
   <div class="clear"></div> 
   
</div>

</div>
</div>

   
   <div class="footer">
       <div class="footer_content">
       <div class="footer_text">
       John & Melany | ©2012 johngag.com
       </div>
       <div class="footer_menu">
           <ul>
           <li class="selected"><a href="/">Home</a></li>                         
           <li><a href="/wedding/">Our wedding</a></li>
           <li><a href="/contact/">Contact</a></li> 
           <li><a onclick="jQuery('html, body').animate( { scrollTop: 0 }, 'slow' );"  href="javascript:void(0);" class="gotop" title="Go on top">TOP</a> </li>
           </ul>
       </div>
       <div class="clear"></div>
       </div>
       
   </div>

<script type="text/javascript">
var main_menu=new main_menu.dd("main_menu");
main_menu.init("main_menu","menuhover");
</script>
</body>
</html>
