<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1" />
<meta name="author" content="John Gagliardi" />
<meta name="description" content="Get in the spotlight" />
<meta name="keywords" content="John & Melany | ©2012 johngag.com" />
<title>John & Melany | Wedding</title>
<link rel="stylesheet" type="text/css" media="all" href="{{ CSS_CDN }}style-0.1.css" />
<link rel="stylesheet" href="{{ CSS_CDN }}prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<link href='http://fonts.googleapis.com/css?family=Ovo' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
<!-- jQuery -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<!-- Twitter Feed -->
<script src="{{ JS_CDN }}jquery.tweet.js" charset="utf-8"></script>
<!-- Flickr Feed -->
<script src="{{ JS_CDN }}jflickrfeed.min.js"></script>
<!-- PrettyPhoto -->
<script src="{{ JS_CDN }}jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{{ JS_CDN }}custom.quicksand.js"></script>
<!-- DropDownMenu -->
<script type="text/javascript" src="{{ JS_CDN }}menu.js"></script>
<script type="text/javascript" charset="utf-8">
var $ = jQuery.noConflict();
  $(window).load(function() {
	
	$(function() {
		$('.show_menu').click(function(){
				$('.menu').fadeIn();
				$('.show_menu').fadeOut();
				$('.hide_menu').fadeIn();
		});
		$('.hide_menu').click(function(){
				$('.menu').fadeOut();
				$('.show_menu').fadeIn();
				$('.hide_menu').fadeOut();
		});
	});
	

  });
  
  jQuery(function($){
	$(".tweet").tweet({
	  join_text: "auto",
	  username: "famousthemes",
	  count: 1,
	  auto_join_text_default: "we said,",
	  auto_join_text_ed: "we",
	  auto_join_text_ing: "we were",
	  auto_join_text_reply: "we replied",
	  auto_join_text_url: "we were checking out",
	  loading_text: "loading tweets..."
	});
	$('#basicuse').jflickrfeed({
		limit: 6,
		qstrings: {
			id: '31408169@N04'
		},
		itemTemplate: '<li><a href="{{image_b}}"><img src="{{image_s}}" alt="{{title}}" /></a></li>'
	});
  });
</script>
</head>
<body>
<div id="shadow_bg">
<div id="main_container">

	<a class="show_menu" href="#">menu</a>
    <a class="hide_menu" href="#">close menu</a>
	
    <div class="menu">                                                                   
        <ul id="main_menu">
        	<li><a href="/">Home</a></li>
            <li><a class="selected" href="/wedding/">Our wedding</a></li>
            <li><a href="/contact/">Contact</a></li> 
        </ul>
     </div>
	

<div id="center_container">

  <div id="header">
     
     <div class="title"><a href="index.html">John &amp; Melany</a></div>
     <div class="description"><span class="swirl_left"><span class="swirl_right">20 october 2012</span></span></div>
     
  </div><!-- End of Header-->
     

  <div class="pages_title">
  <h2>About Our <span>Wedding</span></h2>
  </div> 
   
   <div class="content">
   
   		<div class="left23">
            <h2>John and Melany are getting Married!</h2>
            <p>
            <a href="{{ IMAGES_CDN }}johnny-mel-rotary.png" rel="prettyPhoto[gallery]" title="Johnny and Melany"><img src="{{ IMAGES_CDN }}johnny-mel-rotary.png" alt="" title="" border="0" class="left_pic" /></a>
The wedding will take place in John’s hometown of Nevada City, California. <a href="http://www.nevadacitychamber.com/">http://www.nevadacitychamber.com/</a>
Saint Canice Catholic Church will be the site for the nuptials mass ceremony. The church is located at 317 Washington Street. <a href="http://www.stcanice.com/">http://www.stcanice.com/</a>
Immediately following the ceremony the bride and groom will slip away with their families to take a few photographs. While they are taking their pictures you are invited to a cocktail hour. The cocktail hour and dinner reception will be housed at the Miners Foundry Cultural City located at 325 Spring Street. http://minersfoundry.org/
Upon the arrival of John and Melany dinner will begin followed by festivities and dancing the night away.
            </p>
			<br />
			<h2>Accomodations</h2>
			<p>
			Blocks of rooms have been reserved at the locations listed below.
			When calling to make reservations please identify yourself as attending
			The Schultz-Gagliardi Wedding 
			in order to receive the negotiated rates and rooms.
			</p>
			<br />
			<p>
			Grass Valley Courtyard Suites<br />
			210 North Auburn Street<br />
			Grass Valley, CA  95945<br />
			<a href="tel:5302727696">(530) 272-7696</a>
			</p>
			<br />
			<br />
			<p>
			Best Western Gold Country Inn<br />
			972 Sutton Way<br />
			Grass Valley, CA<br /> 
			<a href="tel:5302731393">(530) 273-1393</a>
			</p>
			<br />
			<br />
			<p>
			Holiday Inn Express Hotel & Suites<br />
			121 Bank Street<br />
			Grass Valley, CA<br />
			<a href="tel:5304771700">(530) 477-1700</a>
			</p>
			<br />
			<br />
			<h2>Gift Registry</h2>
        	<p>
				<a href="http://www1.macys.com/registry/wedding/guest/?registryId=24355"><img src="{{ IMAGES_CDN }}macys.png" alt="" title="" /></a><br/>
				We are registered at <a href="http://www1.macys.com/registry/wedding/guest/?registryId=24355">Macy's</a>. Click <a href="http://www1.macys.com/registry/wedding/guest/?registryId=24355">HERE</a> to view our registry online. Thank you!
			</p>
        </div>
        
        <div class="left13">
            <h2>Bridesmaids &amp; Groomsmen's</h2>
            <div class="bgs">
			<ul>
				<li><a><img src="{{ IMAGES_CDN }}KimCarter.png" class="bg_thumb" alt="" title="" /></a><a href="#">Kim Carter, Maid of Honor </a><br /> <span>Kim, who is affectionately known as The Matchmaker (along with her husband Adam) introduced Melany and Johnny. Kim and Melany worked together for several years. They have enjoyed so many great times and coffee-date-lunches over the years. So many happy and fun times like getting in trouble for talking too much in the back of a spin class ☺ Kim attended college at UNR and currently lives in Reno, Nevada with her beautiful daughter Kailyn (15 months), and her husband Adam.</span></li>
				<li><a><img src="{{ IMAGES_CDN }}adam.png" class="bg_thumb" alt="" title="" /></a><a href="#">Adam Carter, Best Man </a><br /> <span>Awesome!</span></li> 
				<li><a><img src="{{ IMAGES_CDN }}KayleyPeacock.png" class="bg_thumb" alt="" title="" /></a><a href="#">Kayley Peacock, Maid of Honor </a><br /> <span>Kayley and Melany hit it off the first time they met. Two peas in a pod! Kayley and Melany were roommates for one wonderful summer and had some great adventures. Kayley is truly the best roommate ever. Kayley lives in Spokane Washington with her husband, Nick, and their son Jack Thomas (6 months). Melany and Johnny are honored to be Jack’s godparents and cherish him dearly.</span></li> 
				<li><a><img src="{{ IMAGES_CDN }}nick.png" class="bg_thumb" alt="" title="" /></a><a href="#">Nick Peacock, Best Man </a><br /> <span>Awesome!</span></li> 
				<li><a><img src="{{ IMAGES_CDN }}KatieSchultz.png" class="bg_thumb" alt="" title="" /></a><a href="#">Katie Schultz, Bridesmaid </a><br /> <span>Katie is Melany’s younger sister and is a legal secretary for a couple of attorneys in Nampa, Idaho. Katie and Melany have always been close sisters and good friends. This probably had something to do with being dressed like twins for most of their childhood. At one point Melany’s family was afraid Katie would never learn to walk because Melany carried her all the time as a kid. Katie lives in Caldwell Idaho where she has her own home and continues daily to make her big sister proud.</span></li>
				<li><a><img src="{{ IMAGES_CDN }}nathan.png" class="bg_thumb" alt="" title="" /></a><a href="#">Nathan Huggins, Groomsmen </a><br /> <span>Awesome!</span></li> 
				<li><a><img src="{{ IMAGES_CDN }}SaraMcClintick.png" class="bg_thumb" alt="" title="" /></a><a href="#">Sara McClintick, Bridesmaid </a><br /> <span>Where to begin? Hee hee hee! Friendship bracelets, roller skating parties, bicycle adventures, walkie-talkies, mud ball wars, puff-paint-besties-shirts , and wading to the forbidden island to go fishing. Driving the farm truck at age six, horseback riding, tree climbing, camping trips and sneaking beer. Growing up with Sara and spending the endless summers together on our family farm was the best of times. Lifelong best friends, Sara and Melany were always together, so much so that they are like sisters. Sara and Melany grew up together in the small town of Marsing, Idaho. Sara now lives in Nampa Idaho with her son Curtis (10), step-daughter Alexis (16), step-son Tyler (14) and her husband Scott.</span></li>
                <li><a><img src="{{ IMAGES_CDN }}jr.png" class="bg_thumb" alt="" title="" /></a><a href="#">James Sparhawk, Groomsmen </a><br /> <span>Awesome!</span></li> 
				<li><a><img src="{{ IMAGES_CDN }}ChristinaGagliardiSchettler.png" class="bg_thumb" alt="" title="" /></a><a href="#">Christina Gagliardi, Bridesmaid </a><br /> <span>Christina is Melany’s godmother and Johnny’s oldest sister. Melany and Christina spend a lot of time together and have become close friends over the past few years. Christina introduced Melany to Zumba and the art of Bunco. Zumba has turned into an abs-only workout for Melany who spends the majority of the class time laughing since she is either two steps behind or heading the wrong direction. Christina is always up for a good time and an impromptu dance party. Christina lives in Reno, Nevada with her two children, Matteo (7), Natalia (4) and her sweet husband Rick Schettler. </span></li> 
                <li><a><img src="{{ IMAGES_CDN }}logan.png" class="bg_thumb" alt="" title="" /></a><a href="#">Logan Carter, Groomsmen </a><br /> <span>Awesome!</span></li> 
				<li><a><img src="{{ IMAGES_CDN }}EricaGagliardiOrme.png" class="bg_thumb" alt="" title="" /></a><a href="#">Erica Orme, Bridesmaid </a><br /> <span>Erica is Melany’s craft and décor icon. Erica finds time amidst being a wife and mother of four to sew, bake, decorate and throw the cutest parties. Erica is one of those people you will meet and feel as if she has always been a part of your life. Erica never ceases to amaze Melany; Erica is truly a modern day Super Woman. Erica always has a smile on her face and a hug waiting for you. Erica lives in Folsom, California with her children Gio (4), Khai (3), Avennie (3) Keaton (six months), and her wonderful husband Brad.</span></li>
                <li><a><img src="{{ IMAGES_CDN }}steve.png" class="bg_thumb" alt="" title="" /></a><a href="#">Steve Brown, Groomsmen </a><br /> <span>Awesome!</span></li> 
				<li><a><img src="{{ IMAGES_CDN }}MelissaSherman.png" class="bg_thumb" alt="" title="" /></a><a href="#">Melissa Sherman, Bridesmaid </a><br /> <span>Melany and Melissa worked together for several years at an international engineering firm. Melissa moved on to a wonderful locally owned and operated consulting and permitting firm and later recruited Melany. Melissa and Melany still enjoy working together and sharing belly laughs. Melissa and Melany have had many adventures together over the years. Melissa was always there for Melany through hard times and happy times and for that will be eternally grateful. Melissa lives in Reno, Nevada with her daughter Sierra (3) and her husband Jon.</span></li>
            </ul>
            </div>
        </div>
        
        <div class="clear"></div>
        
        <div class="name_divider">JM</div>
        
        <div class="clear"></div>

   		<div class="left13 section_home">
        <h2>Wedding <span>Location</span></h2>
        <a href="http://minersfoundry.org/"><img src="{{ IMAGES_CDN }}wedding-location.png" alt="" title="" /></a>
        <p>The Miners Foundry Cultural Center is a living historic treasure serving Nevada County as a cultural arts and community events center. It is a symbol of California’s rich historical heritage, providing an educational and social bridge from our past to the present and future.</p>
        <a href="http://minersfoundry.org/" class="section_more"><span class="swirl_left"><span class="swirl_right">read more</span></span></a>
        </div>
        
   		<div class="left13 section_home">
        <h2>Honeymoon <span>Destination</span></h2>
        <a href="http://www.co.maui.hi.us/"><img src="{{ IMAGES_CDN }}honeymoon.png" alt="" title="" /></a>
        <p>Stand above a sea of clouds high atop Haleakala. Watch a 45-foot whale breach off the coast of Lahaina.  Lose count of the waterfalls along the road as you maneuver the hairpin turns of the Hana highway. One visit and it’s easy to see why Maui is called “The Magic Isle.”</p>
        <a href="http://www.co.maui.hi.us/" class="section_more"><span class="swirl_left"><span class="swirl_right">read more</span></span></a>
        </div>
        
   		<div class="left13 section_home">
        <h2>Gift <span>Registry</span></h2>
        <a href="http://www1.macys.com/registry/wedding/guest/?registryId=24355"><img src="{{ IMAGES_CDN }}macys.png" alt="" title="" /></a>
        <p>We are registered at Macy's.</p>
        <a href="http://www1.macys.com/registry/wedding/guest/?registryId=24355" class="section_more"><span class="swirl_left"><span class="swirl_right">read more</span></span></a>
        </div>
            
   </div>
   
   <div class="clear"></div> 
   
</div>

</div>
</div>

   
   <div class="footer">
       <div class="footer_content">
       <div class="footer_text">
       John & Melany | ©2012 johngag.com
       </div>
       <div class="footer_menu">
           <ul>
               <li><a href="/">Home</a></li>
               <li><a class="selected" href="/wedding/">Our wedding</a></li>
               <li><a href="/contact/">Contact</a></li>
               <li><a onclick="jQuery('html, body').animate( { scrollTop: 0 }, 'slow' );"  href="javascript:void(0);" class="gotop" title="Go on top">TOP</a> </li>
           </ul>
       </div>
       <div class="clear"></div>
       </div>
       
   </div>

<script type="text/javascript">
var main_menu=new main_menu.dd("main_menu");
main_menu.init("main_menu","menuhover");
</script>
</body>
</html>
